.site-header {}

.site-title {
	font-size:4em;

	@media (max-width: $medium-screen) {
		font-size:2em;
		text-align: center;
	}
}

.site-description {
	@media (max-width: $medium-screen) {
		text-align: center;
	}
}

.site-title a {
		// -webkit-transition: text-shadow 0.5s;
	// transition: text-shadow 0.5s;
	text-decoration: none;
	

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.site-description {
	font-size: 1em;
	margin: 0;	
}

.page-header {
	
	
}

.page-title {
	border-bottom-width: 2px; 
	border-bottom-style: solid; 
}
