@font-face {
	font-family: 'captain-icon';
	src:url('fonts/captain-icon.eot?-gxcg6n');
	src:url('fonts/captain-icon.eot?#iefix-gxcg6n') format('embedded-opentype'),
		url('fonts/captain-icon.woff?-gxcg6n') format('woff'),
		url('fonts/captain-icon.ttf?-gxcg6n') format('truetype'),
		url('fonts/captain-icon.svg?-gxcg6n#captain-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'captain-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE643:before {
	content: "\e643";
}
.icon-uniE64D:before {
	content: "\e64d";
}
.icon-uniE65F:before {
	content: "\e65f";
}
.icon-uniE67E:before {
	content: "\e67e";
}
.icon-uniE68D:before {
	content: "\e68d";
}
.icon-uniE6B5:before {
	content: "\e6b5";
}
.icon-uniE6F4:before {
	content: "\e6f4";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-uniE669:before {
	content: "\e669";
}
.icon-uniE705:before {
	content: "\e705";
}
.icon-uniE730:before {
	content: "\e730";
}
.icon-uniE72F:before {
	content: "\e72f";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE60C:before {
	content: "\e60c";
}
.icon-uniE613:before {
	content: "\e613";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-uniE626:before {
	content: "\e626";
}
.icon-uniE654:before {
	content: "\e654";
}
.icon-uniE685:before {
	content: "\e685";
}
.icon-uniE68C:before {
	content: "\e68c";
}
.icon-uniE6C2:before {
	content: "\e6c2";
}
.icon-uniE6CA:before {
	content: "\e6ca";
}
.icon-uniE6E2:before {
	content: "\e6e2";
}
.icon-uniE6F3:before {
	content: "\e6f3";
}
.icon-uniE703:before {
	content: "\e703";
}
.icon-uniE737:before {
	content: "\e737";
}
.icon-uniE770:before {
	content: "\e770";
}
.icon-uniE771:before {
	content: "\e771";
}
