/* ==THEME
* Colors, and custom tweakings of the theme, 
* like the icon for categories (which are specific for your blog)
==============================================*/

/* =COLORS
-------------------------------------------*/

$background-color: #E3E5E7;
$background-color: #f3f5f7;

$primary-color: adjust-lightness(#009BCD,-10);
$primary-color-light: adjust-lightness($primary-color, 40);
$primary-color-light-extra: adjust-lightness($primary-color, 50);
$primary-color-dark: adjust-lightness($primary-color, -10);

$secondary-color: green;

$ui-text-color: #444;
$ui-text-shadow-color: #fff;
$ui-text-color-inverted: #fff;
$ui-text-text-shadow-color-inverted: #444;
$ui-link-color: $primary-color;
$ui-link-hover-color: $primary-color;
$ui-link-focus-background: $primary-color-dark;
$ui-link-focus-color: #fff;
$ui-link-focus-text-shadow-color: #444;
$ui-link-active-color: $primary-color-light;
$ui-link-color-inverted: #fff;
$ui-link-text-shadow-color-inverted: #444;

body,
select,
textarea {
	color: $ui-text-color;
	text-shadow: 1px 1px 0px $ui-text-shadow-color;
}

body {
	background-color: $background-color;
	background-position: top center;
	background-repeat: no-repeat; // because we have a random background-image
}

a {
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: $ui-link-color;
	text-decoration: none;
}

a:hover {
	color: $ui-link-hover-color;
	text-decoration: underline;
}

a:focus {
	background: $ui-link-focus-background;
	color: $ui-link-focus-color;
	text-shadow: 1px 1px 0 $ui-link-focus-text-shadow-color;
	outline:none;
}

a:active {
	color: $ui-link-active-color;
	text-decoration: underline;
}


blockquote {
	border-color: $primary-color;
}

#page {
	@include background(linear-gradient(180deg, rgba(#fff,.6), rgba(#fff, 0) 300px));
}

/* =HEADER
---------------------------------------------*/

.site-header{

}

.site-title-link {

	position: relative;
	padding-left: 1.5em;

	&:after,
	&:before {
		@extend %icon;
		position: absolute;
		left:0;
		//top: 0;
		text-align: center;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;

		transition:opacity .5s;
	}

	&:before {
		content: '\e730';
	}
	.opacity & {
		&:after {
			content: '\e65f';
			opacity:0;
		}

		@media (max-width: $small-screen) {
			&:after {
				content: normal;
			}
		}
	}

	transition: color .2s, text-shadow .2s;

	&:hover,
	&:focus {
		text-shadow: 1px 1px 24px rgba($primary-color-light, 1);

		&:after {
			opacity:1;
		}
		&:before {
			opacity:0;
		}
	}

	@media (max-width: $small-screen) {
		
		&:before {
			position: static;
			display: block;
			margin: 0 auto;
		}

		&:hover,
		&:focus {
			&:before {
				opacity:1;
			}
		}

	}
}

/* =NAVIGATION
----------------------------------*/

.main-navigation {
	border-bottom-color: $primary-color;
	border-top-color: $primary-color;
	background: $primary-color;
	color: $ui-link-color-inverted;
	text-shadow: 1px 1px 0 $ui-link-text-shadow-color-inverted;
}

.nav-menu a {
	color: $ui-link-color-inverted;
	text-shadow: 1px 1px 0 $ui-link-text-shadow-color-inverted;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $primary-color-light;
	}
}

.sub-menu {

	@media screen and (min-width: $medium-screen) {

		background: $background-color;
		box-shadow: 0 0 5px rgba(0,0,0,.5);

		&:after {
		 	.csstransforms & {
				content: '';
				height: 1em;
				width: 1em;
				background: $background-color;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				bottom: calc(100% - .5em);
				left: 1em;
				z-index: -1;
			}
		}

		a {
			color: $ui-link-color;
			text-shadow: 1px 1px 0px $ui-text-shadow-color;
		}

		a:hover,
		a:focus {
			background: $ui-link-focus-background;
			color: $ui-link-focus-color;
			text-shadow: 1px 1px 0 $ui-link-focus-text-shadow-color;
			outline:none;
		}


	}

}

.page-title {
	border-bottom-color: $primary-color; 
}

/* =FOOTER
--------------------------------------------*/

.site-footer .wrapper {
	border-top-color: $primary-color;
}



/* =FORMS
----------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="submit"],
select,
textarea,
button {
	border-color: $primary-color;
}

input[type="submit"],
select,
button {
	background: $primary-color-dark;
	color: $ui-text-color-inverted;
	text-shadow: 1px 1px 0 $ui-text-text-shadow-color-inverted;
}

.select-container:after {
	color: $ui-text-color-inverted;
	text-shadow: 1px 1px 0 $ui-text-text-shadow-color-inverted;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover, 
button:focus {
	background: $primary-color;
	border-color: $primary-color-dark;
}

/* =POSTS
-----------------------------------------*/

.entry-meta {
	border-color: $primary-color;
}

.entry-title-link {
	color: $ui-text-color;
}

.picto:after {

	transition: color .2s;
	color: #444;

	@include category-picto("", $ui-link-color);
}

.picto-category-irl:after {
	@include category-picto("\e770", "#D3B654");
}
.picto-category-lectures:after {
	@include category-picto("\e6c2", "#6AAD1D");
}
.picto-category-jeux:after {
	@include category-picto("\e737", "#330870");
}
.picto-category-musique:after {
	@include category-picto("\e68d", "#000");
}
.picto-category-humeur:after {
	@include category-picto("\e61c", "#C98560");
}
.picto-category-reflexions:after {
	@include category-picto("\e643", "#666");
}

.post-format .picto:after {
	color: $ui-link-color;
}

.post-figure {
	background: #fff;
}


/* =FORMATS
-----------------------------------*/

.format-gallery {
	.gallery-thumb:before {
		background: $background-color;
	}
}

/* = COMMENTS 
-------------------------------------*/

.comment-list .comment-content {
	background: rgba(adjust-lightness($primary-color-light-extra,10),.2);
	border-left-color: $primary-color;
}

.comment-list .bypostauthor > .comment-content {
	background: rgba($secondary-color,.1);
	border-left-color: $secondary-color;
}