/* =TEXT
-----------------------------------------------*/

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen/oxygen.eot');
	src: url('../fonts/oxygen/oxygen.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen/oxygen.woff') format('woff'),
		 url('../fonts/oxygen/oxygen.ttf') format('truetype'),
		 url('../fonts/oxygen/oxygen.svg#oxygenregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen/oxygen-bold.eot');
	src: url('../fonts/oxygen/oxygen-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen/oxygen-bold.woff') format('woff'),
		 url('../fonts/oxygen/oxygen-bold.ttf') format('truetype'),
		 url('../fonts/oxygen/oxygen-bold.svg#oxygenbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen/oxygen-bolditalic.eot');
	src: url('../fonts/oxygen/oxygen-bolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen/oxygen-bolditalic.woff') format('woff'),
		 url('../fonts/oxygen/oxygen-bolditalic.ttf') format('truetype'),
		 url('../fonts/oxygen/oxygen-bolditalic.svg#oxygenbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen/oxygen-italic.eot');
	src: url('../fonts/oxygen/oxygen-italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen/oxygen-italic.woff') format('woff'),
		 url('../fonts/oxygen/oxygen-italic.ttf') format('truetype'),
		 url('../fonts/oxygen/oxygen-italic.svg#oxygenitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

body,
button,
select,
textarea {
	font-family: "Oxygen", "Helvetica Neue", "Arial", sans-serif;
	//line-height: 1.5;	 
}

/* =TITLES
------------------------------------*/

@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/librebaskerville/LibreBaskerville-Regular.eot');
	src: url('../fonts/librebaskerville/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/librebaskerville/LibreBaskerville-Regular.woff') format('woff'),
		 url('../fonts/librebaskerville/LibreBaskerville-Regular.ttf') format('truetype'),
		 url('../fonts/librebaskerville/LibreBaskerville-Regular.svg#oxygenitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@for $i from 1 through 6 {
	$selector : "h#{$i}, .h#{$i}-like";
	
	#{$selector} {
		font-family: 'Libre Baskerville';
	}
}


/* =ICONS
-------------------------------*/

@font-face {
	font-family: 'Captain Icon';
	src:url('../fonts/capicon/captain-icon.eot');
	src:url('../fonts/capicon/captain-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/capicon/captain-icon.woff') format('woff'),
		url('../fonts/capicon/captain-icon.ttf') format('truetype'),
		url('../fonts/capicon/captain-icon.svg#captainicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

%icon {
	font-family: 'Captain Icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.picto:after {
	@extend %icon;
	font-size: 2em;
	content: '\e730';
	display: inline-block;
}