/* =TEXT
-----------------------------------------------*/

@include font-face("Oxygen", 
	font-files("oxygen/oxygen.woff", "oxygen/oxygen.ttf", "oxygen/oxygen.svg#oxygenregular"), 
	"oxygen/oxygen.eot",
	normal,
	normal);

@include font-face("Oxygen", 
	font-files("oxygen/oxygen-bold.woff", "oxygen/oxygen-bold.ttf", "oxygen/oxygen-bold.svg#oxygenbold"), 
	"oxygen/oxygen-bold.eot",
	bold,
	normal);

@include font-face("Oxygen", 
	font-files("oxygen/oxygen-bolditalic.woff", "oxygen/oxygen-bolditalic.ttf", "oxygen/oxygen-bolditalic.svg#oxygenbold_italic"), 
	"oxygen/oxygen-bolditalic.eot",
	bold,
	italic);

@include font-face("Oxygen", 
	font-files("oxygen/oxygen-italic.woff", "oxygen/oxygen-italic.ttf", "oxygen/oxygen-italic.svg#oxygenitalic"), 
	"oxygen/oxygen-italic.eot",
	normal,
	italic);

body,
button,
select,
textarea {
	font-family: "Oxygen", "Helvetica Neue", "Arial", sans-serif;
}

/* =TITLES
------------------------------------*/

@include font-face("Libre Baskerville", 
	font-files("librebaskerville/librebaskerville-bold.woff", "librebaskerville/librebaskerville-bold.ttf", "librebaskerville/librebaskerville-bold.svg#libre_baskervillebold"), 
	"librebaskerville/librebaskerville-bold.eot",
	bold);

@include font-face("Libre Baskerville", 
	font-files("librebaskerville/librebaskerville-italic.woff", "librebaskerville/librebaskerville-italic.ttf", "librebaskerville/librebaskerville-italic.svg#libre_baskervilleitalic"), 
	"librebaskerville/librebaskerville-italic.eot",
	normal,
	italic);

@include font-face("Libre Baskerville", 
	font-files("librebaskerville/librebaskerville-regular.woff", "librebaskerville/librebaskerville-regular.ttf", "librebaskerville/librebaskerville-regular.svg#libre_baskervilleregular"), 
	"librebaskerville/librebaskerville-regular.eot");

@for $i from 1 through 6 {
	$selector : "h#{$i}, .h#{$i}-like";
	
	#{$selector} {
		font-family: 'Libre Baskerville';
	}
}


/* =ICONS
-------------------------------*/

@include font-face("Captain Icon", 
	font-files("capicon/captain-icon.woff", "capicon/captain-icon.ttf", "capicon/captain-icon.svg#captainicon"), 
	"capicon/captain-icon.eot");

%icon {
	font-family: 'Captain Icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.picto:after {
	@extend %icon;
	font-size: 2em;
	content: '\e730';
	display: inline-block;
}